<!-- views/pages/game.ejs -->
<div class="container-fluid py-0 ps-0">

    <!-- Top Bar -->
    <div class="top-bar">
        <div class="d-flex justify-content-between align-items-center">
            <div class="level-timer">
                <span id="game-session-level">...</span>
                <span id="game-session-timer" class="timer">...</span>
            </div>
            <div class="action-buttons">
                <button class="share-button" onclick="copyGameLinkToClipboard()">
                    <i class="bi bi-share"></i>
                    Share Game
                </button>
                <a href="/" class="btn btn-dark btn-sm">End</a>
            </div>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-8 align-middle position-relative">
            <div id="overlay" class="overlay d-none">
                <div class="overlay-content">
                    <p id="overlay-message"></p>
                </div>
            </div>
            <div id="game-board"></div>
        </div>
        <div class="col-md-4 align-middle">
            <div id="player-list" class="my-3"></div>
            <div id="chat" class="my-3">
                <div class="card chat-card">
                    <div class="card-header">
                        <button class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center"
                            type="button" data-bs-toggle="collapse" data-bs-target="#gameSessionChatBody" aria-expanded="true"
                            aria-controls="gameSessionChatBody">
                            Chat
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                    <div id="gameSessionChatBody" class="collapse show">
                        <div class="card-body d-flex flex-column">
        
                            <div id="game-session-chat-messages" class="chat-messages mb-3">
                                <!-- Chat messages will be populated here -->
                            </div>
                            <div class="input-group">
                                <input id="chat-message-text" class="form-control" type="text"
                                    placeholder="Type your message..." onkeypress="if(event.key === 'Enter') sendMessage()">
                                <button id="chat-send-message" class="btn btn-primary" type="button" onclick="sendMessage()">
                                    <i class="bi bi-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/shared/models/ReactiveModel.js"></script>
<script src="/shared/models/Player.js"></script>
<script src="/shared/models/PlayerList.js"></script>
<script src="/shared/models/Message.js"></script>
<script src="/shared/models/Chat.js"></script>
<script src="/shared/models/GameSession.js"></script>
<script src="/shared/components/GameBoardComponent.js"></script>
<script src="/shared/components/PlayerListComponent.js"></script>
<script src="/shared/components/ChatComponent.js"></script>
<script src="/shared/components/TimerComponent.js"></script>
<script>
    const gameShortId = '<%= gameSession.shortId %>';
    const gameSessionJSON = <%- JSON.stringify(gameSession) %>;
    const gameSession = GameSession.fromJSON(gameSessionJSON);
    const currentPlayer = gameSession.playerlist.currentPlayer;
</script>
<script id="template-player-list" type="text/x-handlebars-template">
    <%- include('../../shared/views/player-list.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-game-board" type="text/x-handlebars-template">
    <%- include('../../shared/views/game-board.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-game-level" type="text/x-handlebars-template">
    <%- include('../../shared/views/game-level.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-chat-message" type="text/x-handlebars-template">
    <%- include('../../shared/views/message.hbs') %>
</script>
<script src="js/game.js"></script>
