<!-- views/pages/game.ejs -->
<div class="container-fluid py-4">
    <%- include('gameHeader.ejs',{gameSession:gameSession}) %>
    
    <!-- Playerlist -->
    <div class="row mb-3">
        <div class="col-12">
            <div id="player-list"></div>
        </div>
    </div>

    <div class="row g-4">
        <!-- ########################## GAME BOARD ########################## -->
        <div class="col-md-8">
            <div id="game-board"></div>
        </div>
        <!-- ########################## CHAT ########################## -->
        <div class="col-md-4">
            <%- include('gameChat.ejs') %>
        </div>
    </div>
</div>
<script src="/shared/models/ReactiveModel.js"></script>
<script src="/shared/models/Player.js"></script>
<script src="/shared/models/PlayerList.js"></script>
<script src="/shared/models/Message.js"></script>
<script src="/shared/models/Chat.js"></script>
<script src="/shared/models/GameSession.js"></script>
<script src="/shared/controllers/ClientGameSessionController.js"></script>
<script src="/shared/controllers/ClientChatController.js"></script>
<script src="/js/PlayerListComponent.js"></script>
<script src="/js/GameBoardComponent.js"></script>
<script>
    const gameShortId = '<%= gameSession.shortId %>';
    const gameSessionJSON = <%- JSON.stringify(gameSession) %>;
    const gameSession = GameSession.fromJSON(gameSessionJSON);
    const currentPlayer = gameSession.playerlist.currentPlayer;
</script>
<script id="template-player-list" type="text/x-handlebars-template">
    <%- include('../../shared/views/player-list.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-game-board" type="text/x-handlebars-template">
    <%- include('../../shared/views/game-board.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-game-level" type="text/x-handlebars-template">
    <%- include('../../shared/views/game-level.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script src="js/game.js"></script>
