<!-- views/pages/game.ejs -->
<div class="container-fluid py-4">
    <!-- ########################## HEADER ########################## -->
    <%- include('gameHeader.ejs',{gameSession:gameSession}) %>
    
    <!-- Add player avatars strip here -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body py-2">
                    <div class="d-flex gap-2 overflow-auto">
                        <%- include('gamePlayerlist.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4">
        <!-- ########################## GAME BOARD ########################## -->
        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">Game Board</h5>
                </div>
                <div class="card-body d-flex align-items-center justify-content-center" style="display: none;">
                    <div class="ratio ratio-4x3 rounded bg-secondary overflow-hidden">
                        <div id="gameBoard">
                            <% if (gameSession.status==='playing' && gameSession.levels.length> 0) { %>
                                <img id="gameBoardImage" src="<%= gameSession.levels[0].imageUrl %>" alt="Game Level Image" class="img-fluid" />
                            <% } else { %>
                                <p>No levels available.</p>
                            <% } %>
                        </div>
                        <div id="startGameContainer" class="text-center">
                            <button class="btn btn-success btn-lg" onclick="startGame()">Start Game</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ########################## CHAT ########################## -->
        <div class="col-md-4">
            <%- include('gameChat.ejs') %>
        </div>
    </div>
</div>
<script src="/shared/models/Player.js"></script>
<script src="/shared/models/PlayerList.js"></script>
<script src="/shared/models/Message.js"></script>
<script src="/shared/models/Chat.js"></script>
<script src="/shared/controllers/ClientGameSessionController.js"></script>
<script src="/shared/controllers/ClientGameLevelsController.js"></script>
<script src="/shared/controllers/ClientChatController.js"></script>
<script>
    const gameShortId = '<%= gameSession.short_id %>';
    const gameSession = <%- JSON.stringify(gameSession) %>;
</script>
<script src="js/game.js"></script>

<script id="player-list-item" type="text/x-handlebars-template">
    <%- include('../../shared/views/player-list-item.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="level-template" type="text/x-handlebars-template">
    <%- include('../../shared/views/level.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
