<!-- views/pages/game.ejs -->
<div class="container-fluid">
    <div class="sticky-top bg-warning-subtle py-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <p>Status:
                        <span id="game-session-status" class="badge 
                                    <%= gameSession.status === 'waiting' ? 'bg-secondary' :
                                        gameSession.status === 'playing' ? 'bg-primary' :
                                        gameSession.status === 'completed' ? 'bg-success' : 'bg-info' %>">
                            <%= gameSession.status.charAt(0).toUpperCase() + gameSession.status.slice(1) %>
                        </span>
                    </p>
                <% if (gameSession.status !=='completed' ) { %>
                    <span class="d-inline-block">
                        <i class="bi bi-clock me-2"></i>Time left:
                        <span id="game-session-timer" class="font-monospace timer-value">
                            <% if (gameSession.status==='playing' ) { %>
                                <% var elapsedSeconds=Math.floor( (gameSession.started_at + (gameSession.playtime_in_seconds * 1000) - Date.now()) / 1000 ); %>
                                <%= Math.floor(elapsedSeconds / 60) %>:<%= (elapsedSeconds % 60).toString().padStart(2, '0' ) %>
                            <% } else { %>
                                <%= Math.floor(gameSession.playtime_in_seconds / 60) %>:<%=(gameSession.playtime_in_seconds % 60).toString().padStart(2, '0' ) %>
                            <% } %>
                        </span>
                    </span>
                <% } %>
                </div>
                <div class="col-md-8 text-md-end">
                    <button class="btn btn-primary" onclick="copyGameLinkToClipboard()">
                        <i class="bi bi-share me-2"></i>Share Link
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Playerlist -->
    <div class="row mb-3">
        <div class="col-12">
            
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-8">
            <div id="game-board"></div>
        </div>
        <div class="col-md-4">
            <div id="player-list"></div>
            <%- include('gameChat.ejs') %>
        </div>
    </div>
</div>
<script src="/shared/models/ReactiveModel.js"></script>
<script src="/shared/models/Player.js"></script>
<script src="/shared/models/PlayerList.js"></script>
<script src="/shared/models/Message.js"></script>
<script src="/shared/models/Chat.js"></script>
<script src="/shared/models/GameSession.js"></script>
<script src="/shared/controllers/ClientChatController.js"></script>
<script src="/js/PlayerListComponent.js"></script>
<script src="/js/GameBoardComponent.js"></script>
<script src="/js/TimerComponent.js"></script>
<script>
    const gameShortId = '<%= gameSession.shortId %>';
    const gameSessionJSON = <%- JSON.stringify(gameSession) %>;
    const gameSession = GameSession.fromJSON(gameSessionJSON);
    const currentPlayer = gameSession.playerlist.currentPlayer;
</script>
<script id="template-player-list" type="text/x-handlebars-template">
    <%- include('../../shared/views/player-list.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-game-board" type="text/x-handlebars-template">
    <%- include('../../shared/views/game-board.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script id="template-game-level" type="text/x-handlebars-template">
    <%- include('../../shared/views/game-level.hbs', {
        gameShortId: gameShortId,
        gameSession: gameSession,
        players: players
    }) %>
</script>
<script src="js/game.js"></script>
