<div class="mb-1">
    {{#if isCurrentPlayer}}
    <!-- Current player message -->
    <span class="text-muted">[{{formatTime timestamp}}] </span><span class="fw-bold">You: </span>{{message}}
    {{else if (eq playerId null)}}
    <!-- System message -->
    <span class="text-muted">[{{formatTime timestamp}}] </span><strong class="text-primary"><span class="fw-bold">{{playerName}}: </span>{{message}}</strong>
    {{else}}
    <!-- Other player message -->
    <span class="text-muted">[{{formatTime timestamp}}] </span><span class="fw-bold">{{playerName}} </span>{{message}}
    {{/if}}
</div>